body {
    background-color: #F0F5F9;
}

.red-background {
    background-color: red;
}

.font {
    font-family: 'Open Sans', sans-serif;
}
/* open sans, a very nice font. light 300 */

.light-grey-background {
    background-color: #C9D6DF;
}

table, th, tr, td {
    /* width: 100%; */
    text-align: left;
    border: solid 1px #52616B;
    border-collapse: collapse;
}

table {
    width: 100%
}

td {
    background-color: white;
}

.black-text {
    color: #1E2022
}

.radius {
    border-radius: 50px;
}